<footer class="border-top">
  <p class="text-center text-muted pt-4">Copyright © 2019<a href="https://www.bootstrapdash.com/" class="px-1">Bootstrapdash.</a>All rights reserved.</p>
</footer>

<div class="nk-cookie-banner alert alert-dark text-center mb-0" role="alert">
  🍪 Ce site web utilise des cookies pour vous garantir la meilleure expérience possible sur notre site web.
  <a href="#"><p class="m-0 pt-1 pb-2" data-toggle="modal" data-target="#cookiesModal">En savoir plus</p></a> 
  <button type="button" class="btn btn-info btn-sm ml-3" onclick="window.nk_hideCookieBanner()">
    J'accepte
  </button>
</div>

<script src="../vendors/jquery/jquery.min.js"></script>
<script src="../vendors/bootstrap/bootstrap.min.js"></script>
<script src="../vendors/owl-carousel/js/owl.carousel.min.js"></script>
<script src="../vendors/aos/js/aos.js"></script>
<script src="../js/landingpage.js"></script>
<script src="../js/cookie-banner.js"></script>
</body>
</html>