<!DOCTYPE html>
<html lang="en">
<html prefix="og: http://ogp.me/ns#">
<head>
  <title>CT Forming, LinkedIn & Inbound Marketing</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta property="og:title" content="CT Forming, LinkedIn & Inbound Marketing" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="Investir sur les réseaux sociaux devient un objectif incontournable pour les entreprises. En B2B, c'est LinkedIn qui se trouve en haut du podium.
  Pour vous accompagner dans votre démarche de social selling, CT Forming vous propose 3 formations dédiées à l'entreprise pour mettre en place la stratégie de communication digitale via LinkedIn, construire une action de social selling, optimiser son profil via un personal branding adapté. Linkedin est aussi un outil pour sa recherche d'emploi, de stage ou d'alternance." />
  <meta property="og:url" content="https://ctforming.fr/" />
  <meta property="og:image" content="https://ctforming.fr/images/open-graph-image.png" />
  <meta property="og:site_name" content="CT Forming, LinkedIn & Inbound Marketing" />
  <meta property="og:locale" content="fr_FR" />

  <link rel="stylesheet" href="../vendors/owl-carousel/css/owl.carousel.min.css">
  <link rel="stylesheet" href="../vendors/owl-carousel/css/owl.theme.default.css">
  <link rel="stylesheet" href="../vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../vendors/aos/css/aos.css">
  <link rel="stylesheet" href="../css/style.min.css">
  <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E0X6Z15DG6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E0X6Z15DG6');
</script>

</head>
<body id="body" data-spy="scroll" data-target=".navbar" data-offset="100">